*{
    font-family: 'Poppins',sans-serif;
    
}
.nav-link{
    padding: 10px 40px;
    
    margin: 10px 30px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
}
.navlink:hover{
    color:grey;
    font-weight: 500;
    
}
.signin{
    background-color: #30e430;
    color:white;
    
}
.greenbg{
    background-color: #F0FFF0;
    
}
.scheduletxt{
    color:#21B573;
}
.subcontainer{
    padding:10px;
    margin: 50px 10px;
}
.gap{
    padding:10px;
    margin-top: 10px;
}
.funtxt{
    color:orange;
}
.schedule{
    font-weight: 700;
}
.greenbtn{
    background-color:#21B573;
    padding:12px 36px;
    color: white;
    font-weight: 400;
    border-radius: 9px;
    font-size: 18px;
}

.firstcontainer .col-md-6 img{
    height: 346px;
width: 554px;
left: 691px;
top: 157px;
border-radius: 0px;
margin-top:100px;
margin-bottom: 73px;
}
.btncon{
    display: flex;
flex-direction: row;
align-items: center;
  
}
.infocontainer .col-md-3 {
    width:270px;
    height:270px;
    margin:50px 20px;
    background-color:#F8FFFB;
    border-radius:9px;
}
.infocontainer .col-md-3 h4 p {
    margin:20px;
    padding:5px;
}
.infocontainer .col-md-3 h4{
    margin-top:20px;
}
.infocontainer .col-md-3:hover{
    transform:scale(1.1);
    background-color:white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .individualcardcon{
    width:370px;
    height:483px;
}
.cardcontainer .col-md-4 img{
    width:331px;
    height:234px;
}
.cardcontainer .col-md-4{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 40px 0 rgba(0, 0, 0, 0.05);
    margin:62px 30px;
    border-radius:10px;
}
.cardcontainer .col-md-4 h4, p, button, .imgcon, .datecon{
    margin-top: 10px;
}
.cardcontainer .col-md-4  button{
    padding: 8px 28px;
    background: #21B573;
    border-radius:33px;
    color: white;
}
.bi{
    margin-top:10px;
    padding:0px 8px;
}
.testimonialtxt{
    height: 90px;
    width: 580px;
    

}
.testimonialcon2 .col-md-1 img{
    height: 120px;
    width: 120px;
    border-radius: 0px;
    

}
.testimonialcon2 .col-md-1 {
    margin: 0px 20px;
}
.testimonialcon2 .col-md-11 p{
    font-weight:400;
}
.testimonialcon2{
    margin: 60px 0px 100px 0px;
}
.footertxt{
    color: white;
}
.footer{
    background-color: #282531;
    
    width: auto;
}
.footer .col-md-3{
    margin: 55px 75px;
}
.footer .col-md-3 p{
    color:white;
    
}
.linkcol{
    width: 150px;
    height: 181px;
    margin:0px 75px;
}
.millioncol{
    margin-left:50px;
}
.footer .col-md-3 a{
    text-decoration: none;
}
.footer .linkcol a:hover{
    transform: scale(1.1);
}
.linkcol p{
    font-weight: 700;
}